<%= render "shares/sub_header" %>

<div class="container">

  <div class="row user__show--main">
    <div class="col-12 show__area--name">
        <p><%= @user.nickname %>さんのマイページ</p>
    </div>
  </div>

  <div class="row user__show--main">
    <div class="col-12 show__area--index">
        <p>読んだ本の一覧</p>
    </div>
  </div>

</div>