/* -----本の詳細・新規登録 ボタン部分----- */
.book__btn {
  margin-top: 5px;
  margin-bottom: 40px;
  text-align: center;
}

/* -----本の詳細nav部分----- */
.book__edit--lists {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.book__edit--list {
  margin: 0 5px;
}


/* -----本の詳細・新規登録部分----- */
.book__content--area {
  justify-content: center;
}

.book__image--wrapper {
  padding-bottom: 26px;
}

.book__image--area {
  text-align: center;
  margin: 20px 0 20px 0;
  padding-left: 30px;
}

.book__details {
  padding-top: 20px;
}

.book__details h2{
  font-weight: bold;
}

.book-content {
  width: 300px;
  height: 40px;
  margin: 10px 0;
}



/* -----本の新規登録・詳細レビュー部分----- */
.book__review--area {
  justify-content: center;
}

.book__review--wrapper {
  width: 100%;
  margin: 20px 0;
}

.book__review--wrapper h2{
  font-size: 20px;
  font-weight: bold;
}

.book-review {
  width: 100%;
  height: 300px;
  margin-top: 10px;
  padding: 10px;
}

.review-content {
  margin: 10px 0;
}

/* -----本の詳細コメント部分----- */
.comment__text--area {
  height: 40px;
  padding: 10px 0 0 5px;
  margin-top: 3px;
}

.comment__text--btn {
  margin-bottom: 10px;
}

.comment__count {
  font-size: 20px;
  font-weight: bold;
}

.comment__wrapper {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}

.comment__user {
  color: #00bfff;
  font-weight: bold;
  padding-right: 10px;
}

.comment__other-user {
  font-weight: bold;
  padding-right: 10px;
}

.comment__content {
  padding-right: 10px;
}

.comment__caution {
  margin: 10px 0;
  color: red;
  font-weight: bold;
}
 .fav-btn {
   margin-top: 10px;
 }