// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main__container--image {
  height: 400px;
  margin: 20px 0;
  background-image: image-url("sample-cafe2.png");
  background-size: cover;
  background-position: center bottom;
  position: relative;
  filter: opacity(70%);
}