.form__error--container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form__error--area {
  width: 50%;
  text-align: center;
}

.form__error--message {
  list-style: none;
  font-size: 18px;
  margin-bottom: 5px;
  color: red;
}

.login-error {
  text-align: center;
  padding-bottom: 5px;
  font-size: 18px;
  color: red;
}